<div id="starter" ng-init="cronapi.server('blockly.Graficos.ReservasLivro').run()" ng-destroy="" data-component="crn-start" screen-params=""><ion-view class="pane"> 
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
    <div class="buttons buttons-left header-item"> 
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
    <h1 class="title">Reservas por Livro</h1> 
    <div class="buttons buttons-right header-item"> 
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
  </ion-header-bar> 
  <ion-content data-component="crn-ion-content" class="scroll-content has-header"> 
    <div class="col-xs-12 component-holder" data-component="crn-chart" id="crn-chart-rl" heigth="100px" width="100%"> 
      <canvas id="graficoRL" data-component="crn-chart" class="col-xs-12"></canvas>
    </div>
  </ion-content> 
</ion-view></div>